footer {
  width: 100%;
  padding: 15px 0;
  background: #12161f;
  color: #dfdfdf;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 25px;
  margin: 0 auto;
}

.footer-links span, .footer-links a {
  margin-left: 20px;
  color: #8EA8C3;
  transition: all 0.3s ease;
}

.footer-links span:hover, .footer-links a:hover {
  cursor: pointer;
  color: #CBF7ED;
  text-decoration: underline;
}
