.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  min-height: 600px;
}

.active {
  background: #00b39f !important;
  color: white;
}

.regular {
  box-sizing: border-box;
}

.incorrect {
  background: #f01b32 !important;
  color: white;
}

.wrong {
  background: #de727e;
  position: relative;
  color: white;
}

.wrong:before {
  display: block;
  z-index: 2;
  position: absolute;
  content: "<==";
  left: 8px;
  padding: 0 5px;
  color: white;
  background: #f01b32;
  font-size: 12px;
  top: 0;
  height: 17px;
}


pre {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 80%;
  height: max-content;
  border-radius: 5px;
  background: #2b3240;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

code {
  font-family: Inconsolata, monospace;
  font-size: 16px;
  margin: 10px;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  background: #454c5d;
  color: #a5b6c5;
}

code span {
  position: relative;
}

.enter:before, .enter-incorrect:before {
  content: "enter";
  position: absolute;
  display: block;
  height: 17px;
  top: 0;
  right: -40px;
  padding: 0 5px;
  font-size: 12px;
  color: white;
}

.enter, .enter:before {
  background: #00b39f;
}

.enter-incorrect, .enter-incorrect:before {
  background: #f01b32;
}

.game h1 {
  color: white;
  text-align: center;
}

#timer {
  color: #f01b32;
}

.opponentPointer {
  background: #5574a0;
}

.user-list {
  color: white;
  text-align: center;
}

.bolded {
 /*font-weight: 700;*/
 color: #fff;
}



.player-left-modal {
  position: absolute;
  width: 30%;
  z-index: 20;
  background: white;
  text-align: center;
  top: 20%;
  font-size: 30px;
  border-radius: 5px;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
}

.player-left-modal button {
  padding: 5px 20px;
  font-size: 24px;
  font-weight: bold;
  background: #579E29;
  color: #fff;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.code-area {
  width: 100%;
}

.sweet-loading {
  position: absolute;
  top: 25%;
}
