.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  min-height: 600px;
}

.active {
  background: lightgreen;
  color: white;
}

.regular {
  box-sizing: border-box;
}

.incorrect {
  background: red !important;
  color: white;
}

.wrong {
  background: pink;
  position: relative;
  color: white;
}

.wrong:before {
  display: block;
  z-index: 2;
  position: absolute;
  content: "<==";
  left: 8px;
  padding: 0 5px;
  color: white;
  background: red;
  font-size: 12px;
  top: 0;
  height: 17px;
}


pre {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 80%;
  height: max-content;
  border-radius: 5px;
  background: #E0E0E0;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  position: relative;
}

code {
  font-family: Inconsolata, monospace;
  font-size: 16px;
  margin: 30px 50px;
  width: 100%;
  border-left: 1px solid gray;
  padding-left: 8px;
}

code span {
  position: relative;
  height: min-content;
}

.enter:before, .enter-incorrect:before {
  content: "enter";
  position: absolute;
  display: block;
  height: 17px;
  top: 0;
  right: -40px;
  padding: 0 5px;
  font-size: 12px;
  color: white;
}

.enter, .enter:before {
  background: lightgreen;
}

.enter-incorrect, .enter-incorrect:before {
  background: red;
}

.game h1 {
  color: white;
  text-align: center;
}

#timer {
  color: red;
}

.opponentPointer {
  background: yellow;
}

.user-list {
  color: white;
  text-align: center;
}

.bolded {
 font-weight: 700;
}

.player-left-modal {
  position: absolute;
  width: 30%;
  z-index: 20;
  background: white;
  text-align: center;
  top: 20%;
  font-size: 30px;
  border-radius: 5px;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
}

.player-left-modal button {
  padding: 5px 20px;
  font-size: 24px;
  font-weight: bold;
  background: #579E29;
  color: #fff;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.code-area {
  width: 100%;
  animation-duration: 0.75s;
  animation-name: fadein;
}

@keyframes fadein
{
  from   {opacity:0; }
  to   {opacity:1;}
}

.sweet-loading {
  position: absolute;
  top: 25%;
}

.warning {
  color: red;
}

.linenumbers {
  display: flex;
  flex-direction: column;
  color: gray;
  position: absolute;
  left: 1%;
  top: 31px;
  font-family: Inconsolata, monospace;
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}
