html, body, #root, .app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #12161f;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Yantramanav;
  color: #eee;
}

h1, h2, h3, h4 {
  font-family: Barlow, Cairo, Rajdhani, Raleway;
}

.navbar ,footer {
  flex: 0 0;
  z-index: 2;
}

.height100 {
  height: 100%;
}
