html, body, #root, .app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #12161f;
}

body {
  margin: 0;
  padding: 0;
  min-width: 900px;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #eee;
}

h1, h2, h3, h4 {
  font-family: Barlow, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
}

.navbar ,footer {
  flex: 0 0;
  z-index: 2;
}

.height100 {
  height: 100%;
}
