.lobby {
  width: 100%;
  min-height: 400px;
  background: lightgray;
}

.inner-lobby {
  margin: 0 auto;
  width: 80%;
  padding: 20px 0;
  text-align: center;
}

.rooms-and-language-select {
  display: flex;
}

.rooms-list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 70%;
}

.room-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 35px;
  padding: 5px 10px;
  background: #ccc;
  margin-bottom: 10px;
}

.room-item:last-of-type {
  margin-bottom: 0;
}

.room-info {
  display: flex;
  align-items: center;
}

.room-language {
  margin-right: 20px;
  padding: 0 10px;
  border-radius: 25px;
  color: #fff;
  text-shadow: 0 0 2px #333;
}

.room-info button {
  padding: 0 10px;
  border: none;
  border-radius: 25px;
}

.language-select {
  width: 30%;
}

.language-select ul{
  display: flex;
  text-align: left;
  flex-direction: column;
  list-style: none;
}

.activelanguage {
  background: green;
  color: white;
}

.game-select li {
  cursor: pointer;
}
