.lobby {
  width: 100%;
  min-height: calc(100vh - 125px);
  background: #191d29;
  font-size: 16px;
}

.lobby-inner {
  margin: 0 auto;
  width: 80%;
  max-width: 1600px;
  padding: 20px 0;
  text-align: center;
}

.lobby h1 {
  margin-bottom: 20px;
}

.lobby h3 {
  margin-bottom: 20px;
  width: 100%;
  font-size: 24px;
  text-align: left;
  border-bottom: 1px solid #454c5d;
}

.rooms-and-language-select {
  display: flex;
}

.rooms-list {
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-right: 20px;
  padding: 20px;
  border-radius: 10px;
  background: #2b3240;
}

.room-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 40px;
  background: #454c5d;
  margin-bottom: 20px;
  opacity: 0.85;
  transition: all 0.3s ease;
}

.room-item:hover {
  opacity: 1;
}

.room-item:last-of-type {
  margin-bottom: 0;
}

.room-item a:hover {
  text-decoration: none;
}

.room-title {
  margin: 0 20px;
  transition: all 0.3s ease;
  color: #fff;
}

.room-info {
  display: flex;
  align-items: center;
}

.room-language {
  margin-right: 20px;
  padding: 3px 20px;
  border-radius: 40px;
  color: #fff;
  text-shadow: 0 0 2px #333;
}

.room-info button {
  padding: 3px 20px;
  border: none;
  border-radius: 40px;
  background: #00b39f;
  color: #fff;
  transition: all 0.3s ease;
  opacity: 0.85;
}

.room-info button:hover {
  opacity: 1;
  cursor: pointer;
}

.create-room {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  background: #2b3240;
}

.room-options {
  display: flex;
}

.language-select {
  display: flex;
  text-align: left;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
  /*width: 30%;*/
}

.create-room p {
  margin: 0;
}

.create-room button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 20px;
  border: none;
  border-radius: 5px;
  background: #00b39f;
  color: #fff;
  opacity: 0.8;
  transition: all 0.3s ease;
}

.create-room button:hover {
  opacity: 1;
}

.create {
  margin-top: 10px;
  text-transform: uppercase;
}

.language-select button {
  margin-bottom: 15px;
  padding: 3px 20px;
  border-radius: 20px;
  background: #454c5d;
  color: #fff;
  opacity: 0.8;
}

.language-select a:hover {
  text-decoration: none;
}

/* .activelanguage button {
  background: #f67628;
  opacity: 1;
} */

button.activeLanguage {
  background: #f67628;
  opacity: 1;
}

.game-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
  width: 50%;
}

.game-select button {
  width: 100%;
  padding: 3px 20px;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 20px;
  background: #5e6576;
}

button.active-game {
  background: #5574a0;
  opacity: 1;
}

.empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  color: #a5b6c5;
}

.arrows {
  position: relative;
  top: 50px;
  left: 20px;
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  transform: translate(-50%, -50%);
}

.arrows:before {
  content: '';
  position: absolute;
  width: 80%;
  height: 80%;
  border-right: 15px solid rgba(0, 0, 0, 0.3);
  border-bottom: 15px solid rgba(0, 0, 0, 0.3);
  transform: translate(100px, 25px) rotate(-45deg);
  animation: bounce 3s linear infinite;
}

.arrows:after {
  content: '';
  position: absolute;
  left: -10px;
  width: 80%;
  height: 80%;
  border-right: 15px solid rgba(0, 0, 0, 0.3);
  border-bottom: 15px solid rgba(0, 0, 0, 0.3);
  transform: translate(0, 50px) rotate(-45deg);
  animation: bounce 3s linear infinite 0.05s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0) rotate(-45deg);
  }
  40% {
    transform: translateX(-30px) rotate(-45deg);
  }
  60% {
    transform: translateX(-15px) rotate(-45deg);
  }
}
