.session {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  background: #43cea2;
  background: -webkit-linear-gradient(to right, #43cea2, #185a9d);
  background: linear-gradient(to right, #43cea2, #185a9d);
  font-size: 18px;
}

.inner-session {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.session form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.session h1 {
  margin-bottom: 0.5em;
}

.session span {
  text-transform: uppercase;
  letter-spacing: -1px;
}

.session input {
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.session input:focus {
  background: rgba(255, 255, 255, 1);
  border-color: #406E8E;
}

.session button {
  margin: 20px auto;
  padding: 2px;
  width: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.session button:hover {
  background: #23395b;
  border-color: #23395b;
  color: #fff;
}

.signup-errors {
  color: #f01b32;
}
