.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  width: 100%;
  background: #406E8E;
  background-image: url('https://images.pexels.com/photos/36990/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');
  background-size: cover;
  background-position: 60% 50%;
}

.splash-container:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  content: " ";
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9) 100%);
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0;
  width: 500px;
  /*height: 500px;*/
  font-size: 24px;
  text-align: center;
  z-index: 1;
  color: #efefef;
}

.tagline h2 {
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.tagline button {
  padding: 5px 20px;
  font-size: 24px;
  font-weight: bold;
  background: #579E29;
  color: #fff;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.tagline button:hover {
  background: #7FB237;
}
