.splash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  width: 100%;
  background: #406E8E;
  background-image: url('https://images.pexels.com/photos/36990/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');
  background-size: cover;
  background-position: 60% 50%;
  filter: grayscale(20%);
}

.splash-container:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  content: '';
  background: linear-gradient(to right, #5f2c82, #49a09d);
  opacity: 0.6;
  animation: fadeBg 3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

@keyframes fadeBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0;
  width: 500px;
  font-size: 24px;
  text-align: center;
  z-index: 1;
  color: #efefef;
}

.tagline h2 {
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
  font-style: italic;
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  0%, 40% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.tagline button {
  padding: 5px 20px;
  font-size: 24px;
  font-weight: bold;
  background: #00b39f;
  color: #fff;
  border: none;
  border-radius: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.tagline button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

.splash-buttons {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.tagline button:first-of-type {
  background: rgb(98, 64, 123);
}

.tagline p, .splash-buttons {
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  0%, 70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
