.game-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transition: all 0.5s ease;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.stats-inner {
  position: relative;
  width: max-content;
  padding: 25px;
  border-radius: 5px;
  background: #efefef;
  font-size: 20px;
  color: #161925;
  z-index: 4;
}

.stats-inner h1 {
  color: #161925;
  margin: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #161925;
}

.stats-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.stats-row span:first-child {
  font-weight: bold;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 25px;
  border: 1px solid #666;
  color: #666;
}

.game-stats button {
  margin-top: 10px;
  padding: 5px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #00b39f;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.game-stats button:first-of-type {
  margin-top: 20px;
}
